/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #48beed;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #9074f5;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: #facc15;
}

/* HERO */
.hero {
  height: 100vh;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Overlay oscuro */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Contenido */
.hero-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  color: rgb(255, 255, 255);
  max-width: 600px;
}

.hero-content h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-content button {
  width: fit-content;
  padding: 12px 28px;
  background: #facc15;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.hero-content button:hover {
  background: #eab308;
}
